{% extends 'layouts/base.html' %}

{% block title %}Про сайт{% endblock title %}

{% block caption %}Сторінка про сайт{% endblock caption %}

{% block content %}
<div id="breadcrumb" class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <h3 class="breadcrumb-header">{{ page_title }}</h3>
                <ul class="breadcrumb-tree">
                    <li><a href="/home">Home</a></li>
                    <li class="active">About</li>
                </ul>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
    <div class="container"
        style="text-align: center; margin: 45px 0px">
        <h3 style="color: chocolate">Контент сторінки про сайт...</h3>
    </div>
{% endblock content %}