{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="#!" style="margin-right: 10px; color: lime"> · HandmadeToys</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="/home">Головна</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Про сайт</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/home/info">Інформація</a></li>
                        <li><a class="dropdown-item" href="/home/contact">Контакти</a></li>
                    </ul>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Іграшки</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/catalog/index">Каталог</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="#!">Популярні товари</a></li>
                        <li><a class="dropdown-item" href="#!">Новинки</a></li>
                        
                    </ul>
                </li>
            </ul>
            <ul class="main-nav nav navbar-nav navbar-right">
                <li class="active">
                    <a class="dropdown-item" href="#" style="margin-right: 15px; color: orange">
                        Привіт,
                        {% if user.is_authenticated %}
                            {{ user.username }}
                        {% else %}
                            Гість
                        {% endif %}
                    </a>
                </li>
                {% if not user.is_authenticated %}
                    <li><a class="dropdown-item" href="#">Вхід</a></li>
                    <li><a class="dropdown-item" href="#">Реєстрація</a></li>
                {% else %}
                    <li><a class="dropdown-item" href="#">Вихід</a></li>
                    <li><a class="dropdown-item" href="#">Профіль</a></li>
                {% endif %}
            </ul>
            <form class="d-flex">
                <button class="btn btn-outline-dark" type="submit">
                    <i class="bi-cart-fill me-1"></i>
                    Кошик
                    <span class="badge bg-dark text-white ms-1 rounded-pill">ВАРТІСТЬ: 0.00 грн.</span>
                </button>
            </form>
        </div>
    </div>
</nav>